<h1>All Sales Receipts</h1>

<% @sales_receipts.each do |sales_receipt| %>
  <div class="sales-receipt">
    <ul>
      <li><%= sales_receipt.user_date.strftime("%m/%d/%Y") %></li>
      <li><%= link_to sales_receipt.contact.name, contact_path(sales_receipt.contact) %></li>
    </ul>
    <table class="table">
      <thead>
        <th>Product</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Amount</th>
      </thead>
      <tbody>
        <% sales_receipt.sales.each do |sale| %>
          <tr>
            <td><%= product_name(sale) %></td>
            <td><%= sale.quantity %></td>
            <td><%= number_to_currency(sale.rate) %></td>
            <td><%= number_to_currency(sale.amount) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>Total: <%= number_to_currency(sales_receipt.total) %></p>
    <p>
    <%= link_to "View", sales_receipt_path(sales_receipt), class: "btn btn-primary" %>
    <%= link_to "Edit", edit_sales_receipt_path(sales_receipt), class: "btn btn-success" %>
    <%= link_to "Delete", sales_receipt, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </p>
  </div>
<% end %>
