<table class="table statements">
  <thead>
    <th>Settlement ID</th>
    <th>Period</th>
    <th>Deposit Total</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @amazon_statements.each do |as| %>
      <tr>
        <td><span class="label label-default"><%= as.settlement_id %></span></td>
        <td><%= fa_icon("calendar") %> <%= as.period %></td>
        <td><%= number_to_currency(as.deposit_total) %></td>
        <% if as.status == "NOT_PROCESSED" %>
          <td class="status"><%= link_to as.status, amazon_statement_path(as) %></td>
        <% else %>
          <td class="status">PROCESSED</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Fetch", fetch_amazon_statements_path, remote: true, class: "btn btn-success btn-sm" %>
<div class="spinner">
  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
  <small>Retrieving data from Amazon, please wait...</small>
</div>

<div id="fountainG">
	<div id="fountainG_1" class="fountainG"></div>
	<div id="fountainG_2" class="fountainG"></div>
	<div id="fountainG_3" class="fountainG"></div>
	<div id="fountainG_4" class="fountainG"></div>
	<div id="fountainG_5" class="fountainG"></div>
	<div id="fountainG_6" class="fountainG"></div>
	<div id="fountainG_7" class="fountainG"></div>
	<div id="fountainG_8" class="fountainG"></div>
</div>

<script>
$( document ).ready(function() {
  $(".spinner").hide();
  $("#fountainG").hide();

  $("td a").click(function() {
    $("#fountainG").show();
  });

  $(document).ajaxStart(function(){
    $(".spinner").show();
  });

  $(document).ajaxStop(function(){
    $(".spinner").hide();
    location.reload();
  });
});
</script>

