<h1>It's Ridic! PIM</h1>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Contacts</h3> 
      </div> 
      <div class="panel-body">
        <%= link_to new_contact_path, class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-user"> Add Contact</i>
        <% end %>
        <%= link_to contacts_path, class: "btn btn-primary" do %>
          <i class="glyphicon glyphicon-user">View Contacts</i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Products</h3> 
      </div> 
      <div class="panel-body">
        <%= link_to new_product_path, class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-barcode"> Add Product</i>
        <% end %>
        <%= link_to products_path, class: "btn btn-primary" do %>
          <i class="glyphicon glyphicon-barcode"> View Products</i>
        <% end %>
      </div> 
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Orders</h3> 
      </div> 
      <div class="panel-body">
        <%= link_to new_order_path, class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-list-alt"> Add Order</i>
        <% end %>
        <%= link_to orders_path, class: "btn btn-primary" do %>
          <i class="glyphicon glyphicon-list-alt"> View Orders</i>
        <% end %>
      </div> 
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Payment Types</h3> 
      </div> 
      <div class="panel-body">
        <%= link_to new_payment_path, class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-usd"> Add Payment Type</i>
        <% end %>
      </div> 
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Adjustment Types</h3> 
      </div> 
      <div class="panel-body">
        <%= link_to new_adjustment_type_path, class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-erase"> Add Adjustment Type</i>
        <% end %>
      </div> 
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Sales</h3> 
      </div> 
      <div class="panel-body">
        <%= link_to new_sales_receipt_path, class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-shopping-cart"> Add Sale</i>
        <% end %>
      </div> 
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Adjustments</h3> 
      </div> 
      <div class="panel-body">
        <%= link_to new_adjustment_path, class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-scale"> Add Adjustment</i>
        <% end %>
      </div> 
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Inventory</h3> 
      </div> 
      <div class="panel-body">
        <%= link_to inventory_index_path, class: "btn btn-warning" do %>
          <i class="glyphicon glyphicon-dashboard"> Inventory</i>
        <% end %>
      </div> 
    </div>
  </div>
</div>
