<h2>Click on <%= link_to "this", "https://sellercentral.amazon.com/gp/mws/registration/register.html" %> link to find out how to obtain your Amazon credentials</h2>
<p>Please use the following information:</p>
<ul>
  <li>Application Name: It's Ridic!</li>
  <li>Application's Developer Account Number: 6522-3791-2810</li>
</ul>
<%= simple_form_for(@credential, html: { class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primary_marketplace_id, label: "Primary Marketplace ID (Marketplace ID)" %>
    <%= f.input :merchant_id, label: "Merchant ID (Seller ID)" %>
    <%= f.input :auth_token, label: "Authorization Token (MWS Auth Token)" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
