<p id="notice"><%= notice %></p>

<h1>Listing Credentials</h1>

<table class="table">
  <thead>
    <tr>
      <th>Primary marketplace</th>
      <th>Merchant</th>
      <th>Auth token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credentials.each do |credential| %>
      <tr>
        <td><%= credential.primary_marketplace_id %></td>
        <td><%= credential.merchant_id %></td>
        <td><%= credential.auth_token %></td>
        <td><%= link_to 'Show', credential %></td>
        <td><%= link_to 'Edit', edit_credential_path(credential) %></td>
        <td><%= link_to 'Destroy', credential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credential', new_credential_path %>
