<p id="notice"><%= notice %></p>

<p>
  <strong>Primary marketplace:</strong>
  <%= @credential.primary_marketplace_id %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @credential.merchant_id %>
</p>

<p>
  <strong>Auth token:</strong>
  <%= @credential.auth_token %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
