<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @adjustment.product %>
</p>

<p>
  <strong>Adjustment type:</strong>
  <%= @adjustment.adjustment_type %>
</p>

<p>
  <strong>Adjusted quantity:</strong>
  <%= @adjustment.adjusted_quantity %>
</p>

<%= link_to 'Edit', edit_adjustment_path(@adjustment) %> |
<%= link_to 'Back', adjustments_path %>
