$(".all-products").append('<tr id="product-<%= @product.id %>"><td><%= @product.name %></td><td><%= @product.upc %></td><td><%= @product.price %></td><td><%= @product.on_hand %><td><%= link_to "Show", @product, class:"btn btn-primary" %></td><td><%= link_to "Edit", edit_product_path(@product), class: "btn btn-success" %></td><td><%= link_to "Destroy", @product, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", remote: true %></td></tr>');
$("#new-product-form")[0].reset();
$("#product_name").focus();
