<%= simple_form_for(@sale, html: { class: "form-horizontal"} ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= link_to "Add Date", "#", id: "adduserdate" %>
    <%= f.input :user_date, include_blank: true %>
    <%= f.association :product %>
    <%= f.association :payment %>
    <%= f.association :contact %>
    <%= f.input :quantity %>
    <%= f.input :sale_price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<script>
$(document).ready(function() {
  function toggleDate() {
    $(".sale_user_date").toggle();
    if ($("#adduserdate").text() == "Add Date") {
      $("#adduserdate").text("Hide Date");
    } else {
      $("#adduserdate").text("Add Date");
    }
  }
  $(".sale_user_date").hide();
  var addUserDate = document.getElementById('adduserdate');
  addUserDate.addEventListener('click', toggleDate, false);
});
</script>

