<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @sale.product %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @sale.payment %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @sale.contact %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @sale.sale_price %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
