<!DOCTYPE html>
<html>
<head>
  <title>It's Ridic! PIM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless QboConfig.exists? %>
		<ipp:connectToIntuit></ipp:connectToIntuit>
	<% end %>
	<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>

	<script>
intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '<%= authenticate_amazon_statements_url %>'});
	</script>

	<div class="container">
		<%= render 'layouts/header' %>
		<%= flash_messages %>
		<%= yield %>
	</div>
</body>
</html>
