<!DOCTYPE html>
<html>
<head>
  <title>It's Ridic! PIM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
    <%= render 'layouts/header' %>
		<%= flash_messages %>
		<%= yield %>
	</div>
</body>
</html>
